* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  background-color: #4F24AC;
  background-size: 100px;
  font-size: 100%;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteiner {
  background-color: #FFFFFF;
  width: 100%;
  max-width: 880px;
  border: 5px solid #FFFFFF;
  border-radius: 15px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.question-conteiner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
  padding-top: 40px;
  font-family: 'Righteous', cursive;
  color: black;
  font-size: 22px;
  text-align: center;
  margin-bottom: 5px;
}

.autor-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
  margin-bottom: 10px;
}

.quote {
  position: relative;
  padding-left: 10px;
  margin: 200px 0;
  font-family: 'Righteous', cursive;
  color: black;
  font-size: 24px;
  text-align: center;
  
}

.quote:before {
  content: '\201C'; /* Código Unicode para o símbolo de aspas duplas */
  position: absolute;
  left: 2px;
  top: -10px;
  font-size: 40px;
  line-height: 1;
}

cite {
  display: block;
  margin-top: 10px;
  font-style: italic;
  font-family: 'Righteous', cursive;
}
.img-autor {
  width: 500px;
  height: 200px;
}
.answers-conteiner {
  width: 100%;
  display: grid;
  gap: 10px;
  
}

.button {
  background-color: #4F24AC;
  /*background-color: #D66852;*/
  font-family: 'Righteous', cursive;
  color: #000;
  font-size: 15px;
  border: none;
  border-radius: 16px;
  height: 45px;
  padding: 5px;
  transition: filter 0.2s;
  
  
}

.button:hover {
  filter: brightness(0.9);

}

.certo{
  background-color: #3ad62f;
}


.errada{
  background-color: rgb(240, 44, 44);
}
